<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/W2-A1-SimpleAtomicLong/src/edu/vuum/mocca/BuggyLongTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.vuum.mocca.BuggyLongTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="W2-A1-SimpleAtomicLong"/>
</launchConfiguration>
